@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* openai CSS */
.openai-text p {
  margin-bottom: 1rem;
}


.openai-text h1 {
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
}

.openai-text h2 {
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
}


.openai-text h3 {
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
}

.openai-text code {
  font-size: small;
  padding: 1rem;
  overflow-x: auto;
  display: block;
  background-color: black;
  color: white;
}

.custom-max-height {
  max-height: calc(70vh - 20px);
}

/* Custom Scrollbar Styling */
.messages-container::-webkit-scrollbar {
  width: 5px; /* Adjust width of the scrollbar */
}

.messages-container::-webkit-scrollbar-track {
  background: transparent; /* Adapt to match bg-slate-200 */
}

.messages-container::-webkit-scrollbar-thumb {
  background-color: slategray; /* Customize thumb color */
  border-radius: 20px; /* Rounded corners */
}

.radar-chart canvas {
  vertical-align: baseline !important;
  display: inline-block !important;
}

.messages-container li {
  margin-top: 10px !important;
}